@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

html, body{
    scroll-behavior: smooth!important;
}

*{
    font-family: "Play", sans-serif;
}

body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track{
    background-color: #bdc3c7;
}
body::-webkit-scrollbar-thumb{
    background-color: #d35400;
    border-radius: 10px;
}

/* header area */
.header-outer{
    position: sticky;
    top: 0;
}
.navbar-brand img{
    height: 50px;
}

.back-to-top-outer{
    width: 50px;
    height: 50px;
    background-color: #d35400;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px #34495e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-to-top-outer a{
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
}
.fa-solid{
    font-size: 18px;
    color: white;
}

/* header area */

.outer{
    width: 100%;
    height: 500px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Home-area */
.home-outer{
    width: 100%;
    height: 90vh;
    background-image: url('https://img.freepik.com/free-photo/top-view-laptop-glasses-notepad-dark-textured-background_169016-43217.jpg?t=st=1709829483~exp=1709833083~hmac=2640c264aa864319a5cdebfc852a9bf017b687ac9becb37a69c4a8fa2a7636c3&w=1380');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}
.home-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-text{
    color: white;
}
.header-text{
    font-weight: 500;
    font-size: 50px;
    color: white;
    line-height: 45px;
}

.home-widgets-outer{
    margin-top: -120px;
}
.widget-outer{
    height: 300px;
    margin-bottom: 20px;
}
.widget-inner{
    width: 100%;
    height: 100%;
    border: 1px solid #bdc3c7;
    border-radius: 3px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.widget-inner-top{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.widget-inner-bottom{
    flex: 1;
    padding: 10px;
}
.widget-icon{
    width: 80px;
    height: 80px;
    background-color: #FE214F;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.widget-icon svg{
    width: 60%;
    height: 60%;
}
.widget-header{
    text-align: center;
}
.widget-desc{
    text-align: center;
    color: #34495e;
}
/* Home-area */

/* Service-area */
.service-outer{
    min-height: 750px;
    width: 100%;
    background-image: url('https://images02.nicepage.com/c461c07a441a5d220e8feb1a/24af2a14af16514caf47360a/33581d05cec4a3308cd79979a51eed9d.jpeg');
    background-size: cover;
    background-position: left;
}
.service-container{
    min-height: 750px;
}
.row{
    height: 100%;
}
.service-containner-inner{
    height: 100%;
}
.service-right-side{
    min-height: 750px;

    display: flex;
    align-items: center;
    justify-content: stretch;
}
.right-top{
    height: 350px;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-top:last-child{
    margin-bottom: 0;
}
.right-bottom{
    height: 350px;
    background-color: white;
}
.service-top-title{
    color: #FE214F;
}
.service-top-desc{
    margin-top: 20px;
}

.service-grid-outer{
    width: 100%;
    height: auto;
}
.service-grid-inner{
    height: 420px;
    background-color: #1A1A1A;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid-1{

    background-image: url('https://images01.nicepage.com/2c/36/2c363cea606f515e74b1e427f2b437c0.jpeg');
    background-size: cover;
    background-position: center;
}
.grid-3{

    background-image: url('	https://images01.nicepage.com/9b/3f/9b3fb50d7f1060045a2fb67bc06f4802.jpeg');
    background-size: cover;
    background-position: center;
}
.link , .service-grid-title{
    color: #FE214F;
}
.service-grid-header{
    color: white;
}
.desc-service-grid{
    color: #bdc3c7;
}


/* Service-area */

/* About-area */
.about-outer{
    width: 100%;
    height: 520px;
    position: relative;
}
.about-outer img{
    width: 100%;
    height: 100%;
    filter: blur(1px);
}
.dark-shadow-outer{
    background-color: rgba(19, 15, 64,0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-content{
    width: 600px;
    height: 80%;
    border: 1px solid white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-title{
    color: #FE214F;
    text-align: center;
}
.about-header{
    color: white;
    text-align: center;
}
/* About-area */